<div class="row animated fadeInUpSmall">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input  type="text" class="validate">
        <label for="first_name">Title</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Author</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input  type="number" class="validate">
        <label for="first_name">Price</label>
      </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Description</label>
        </div>
      </div>
    <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="mdi-content-send right"></i>
      </button>
    </div>
  </form>
</div>