
<div id="bookDetails" class="container row">
  
  <div class="col s5 m5">
    <div class="card-image waves-effect waves-block waves-light">
      <img data-ng-src="{{book.cover}}" alt="{{book.title}}">
    </div>
  </div>
  <div class="col s7 m7">
    <form class="row">
      <div >
        <div class="input-field col s12">
          <input disabled type="text" data-ng-model="book.title">
          <label for="first_name">Title</label>
        </div>
        <div class="input-field col s12">
          <input disabled type="text" data-ng-model="book.author">
          <label for="last_name">Author</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled  type="number" data-ng-model="book.price">
          <label for="first_name">Price</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea disabled id="textarea1" class="materialize-textarea" data-ng-model="book.description"></textarea>
          <label for="textarea1">Description</label>
        </div>
      </div>
      <div class="row">
        <a class="waves-effect waves-light btn-large">Edit</a>
    </div>
    </div>
  </form>
</div>